@charset "utf-8";

/* .leftnav {
	font-size: 11px; text-align:center; color: #93c8f1; width: 150px; vertical-align:top; background-color: rgb(19,107,130); }
.leftnav ul {
	list-style: none; text-align: left; margin: 0px; padding: 0px; width: 150px; }
.leftnav li {
	background-repeat: repeat-x; background-position: left top; position:relative; background-image: none; display: block;
	margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 1px; padding-right: 0px;
	padding-bottom: 1px; padding-left: 10px; background-color: #FFF; }
.leftnav img {
	margin:2px; padding:2px; vertical-align:middle }
.leftnav a:link, .leftnav a:visited {
	font:bold; color: #000000; text-decoration: none; height: inherit; margin:0px; padding:0px; }
.leftnav a:hover {
	color: #a41c2b; }
.leftnav ul ul {
	margin: 0px; width:auto; background-image: url(../images/bgleftpanelili.gif); background-repeat: repeat-x; 
	background-position: left top; }
.menutitle {
	cursor:pointer; text-align:left; border-top-style: none; border-right-style: none;	border-left-style: none; 
	background-image: url(../images/tabbg.gif); background-repeat: repeat; background-position: left top; padding-top: 3px; 
	padding-right: 3px; padding-bottom: 3px; padding-left: 6px; border-bottom-width: 1px; border-bottom-color: #ECD99F; }
.submenu {
	text-align:left; margin: 0px; padding: 0px; }
.submenu ul {
	text-align:left; margin: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; background-image: none; }
.submenu ul ul li {
	text-align:left; padding-left: 35px; margin-top: 0px; margin-right: 0px; margin-left: 0px; background-image: none;
	background-color: #FFFFFF; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #EEEEEE; } */


