body {
	font-family: Arial, Verdana, "Times New Roman"; margin: 0px; padding: 0px; background-color: gray;}
.pagelayout {
    margin-right: auto; margin-left: auto; display: block; width: 90%; background-color: #fff; }
.masthead {
	background-repeat: no-repeat; background-position: left top; height: 80px; background-color: #FFF; font-family: Arial, Verdana, "Times New Roman"; font-size: 14px; color: #FFFFFF; 
	font-weight: bolder; padding-bottom: 4px; vertical-align: bottom; padding-right: 8px; }
.normaltext {
	font-size: 11px; color: #333333; font-family: Arial, Verdana, "Times New Roman"; }
ol {
	font-family: Arial, Verdana, "Times New Roman"; font-size: 11px; font-weight: normal; text-align: justify; }
.bglogin {
	background-image: url(../images/bgloginpanel.jpg); background-position: left bottom; background-repeat: repeat-x; border-left-width: 1px; border-top-style: none;
	border-right-style: none; border-bottom-style: none; border-left-style: solid; border-left-color: #FFFFFF; padding-right: 20px; 
	margin: 0px; padding-left: 20px; }
.globalnav {
	background-color: #18849e;height: 24px; background-repeat: repeat-x; background-position: center top;
	margin: 0px; padding: 0px; width: 960px; clear: both; float: none; }
.globalnav ul{
	font-family: Arial, Verdana, "Times New Roman"; background-repeat: repeat-x; background-position: left top; margin-top: 0px; margin-right: 0px; margin-bottom: 0px;
	margin-left: 0px; padding: 0px; height: 20px; }
.globalnav img{
	vertical-align: middle; margin-left:0; margin-right:0; }
.globalnav li{
	font-family: Arial, Verdana, "Times New Roman"; font-size: 11px; font-weight: bolder; color: #FFFFFF; 
	display: inline; list-style-type: none; }
.globalnav li a:link, .globalnav li a:visited{
	font-family: Arial, Verdana, "Times New Roman"; font-size: 11px; color: #FFFFFF; text-decoration: none; padding-left: 6px; margin: 0px;
	display: block; float: left; height: 20px; padding-top: 3px; padding-right: 6px; border-right-width: 1px; }
.globalnav li a:hover{
	background-repeat: repeat-x; background-position: left top; font-family: Arial, Verdana, "Times New Roman"; font-size: 11px;  color: #FF0;
	text-decoration: none; padding-left: 6px; margin: 0px; display: block; float: left; height: 20px; padding-top: 3px; padding-right: 6px; }
.globalnav li a.current:link,.globalnav li a.current:visited{
	background-repeat: repeat-x; background-position: left top; font-family: Arial, Verdana, "Times New Roman"; 
	font-size: 11px;  color: #FCF0A0;text-decoration: none; padding-left: 6px; margin: 0px; display: block;
	 float: left; height: 20px; padding-top: 3px; padding-right: 6px; }
.linksdivider{
	font-family: arial; font-size: 12px; font-weight: normal; color: #FC6; clear: right; float: left; padding-top: 3px; }
.userlable{
	font-family: arial; font-size: 12px; font-weight: bold; color: #FFFFFF; padding-left: 4px; }
.userinfo{
	font-family: arial;	font-size: 12px; font-weight: bold;	color: #FCF0A0; padding-left: 2px; }
.navlabelbold{
	font-family: arial; font-size: 11px; color: #FFFFFF;display: block; padding-right: 2px; padding-left: 2px; 
	font-weight: bold; height: 20px; float: left; padding-top: 3px; }
.sublist ul {
	background-color: #ADD8E6; margin: 0px; }
.sublist li{
	font-family: Arial, Verdana, "Times New Roman"; font-size: 11px; font-weight: bolder; border-top-style: none;
	border-right-style: none; border-bottom-style: solid; border-left-style: none; background-image: url(../images/bgleftpanelili.jpg);
	background-repeat: repeat-x; background-position: left top; margin: 0px; border-bottom-width: 1px; border-bottom-color: #CECECE;
	padding-top: 1px; padding-right: 0px; padding-bottom: 1px; padding-left: 0px;
}
.sublist li a:link, .sublist li a:visited{
	font-family: Arial, Verdana, "Times New Roman"; font-size: 11px; color: #666666; text-decoration: none;
	padding-left: 12px; padding-top: 2px; padding-bottom: 2px; padding-right: 0px; display: block; border-top-style: none;
	border-right-style: none; border-bottom-style: none; border-left-style: none; margin: 0px; }
.sublist li a:hover{
	font-family: Arial, Verdana, "Times New Roman"; font-size: 11px; color: #006699; text-decoration: none; padding-left: 12px;
	padding-top: 2px; padding-bottom: 2px; padding-right: 0px; display: block; border-top-style: none; border-right-style: none;
	border-bottom-style: none; border-left-style: none; margin: 0px; background-image: url(../images/bgleftpaneliactive.jpg);
	background-repeat: repeat-x; background-position: left bottom; }
.sublist li a.active:link,.sublist li a.active:visited{
	font-family: Arial, Verdana, "Times New Roman"; font-size: 11px; color: #006699; text-decoration: none; padding-left: 12px;
	padding-top: 2px; padding-bottom: 1px; padding-right: 0px; display: block; border-top-style: none; border-right-style: none;
	border-bottom-style: none; border-left-style: none; margin: 0px; background-image: url(../images/bgleftpaneliactive.jpg);
	background-repeat: repeat-x; background-position: bottom; }
.mainpane {
	padding: 0px; margin: 20px; }
.mainpanebgcolor{
	background-color: #ffffff; }
.actionstxt{
	font-family: Arial, Verdana, "Times New Roman"; font-size: 14px; color: #990000; padding-top: 2px; padding-bottom: 8px; }
.mainpaneheading{
	font-family: Arial, Verdana, "Times New Roman"; font-size: 14px; font-weight: bolder; color: #333333; padding-top: 2px;
	padding-bottom: 8px; }
.formsubheading{
	font-family: arial; font-size: 12px; font-weight: bold; padding-right: 0px; padding-top: 14px; padding-bottom: 8px;
	color: #873816; padding-left: 4px; vertical-align: top; }
.mandatory{
	font-family: arial; font-size: 10pt; color: #990000; }
.formlabel {
	font-family: Arial, Verdana, "Times New Roman"; font-size: 12px; color: #333333; border-bottom-width: 1px; 
	border-bottom-style: solid; border-bottom-color: #E9E9E9; padding-left: 4px; vertical-align: top; }
.formlabelblue {
	font-family: Arial, Verdana, "Times New Roman"; font-size: 12px; padding-top: 4px; padding-bottom: 2px; color: #1A50B8;
	border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #E9E9E9; padding-left: 4px; vertical-align: top; }
.formlabel a:link{
	font-family: Arial, Verdana, "Times New Roman"; font-size: 11px; padding-top: 4px; padding-bottom: 2px; color: #a41c2b;
	padding-left: 4px; vertical-align: top; }
.formlabelbold{
	font-family: Arial, Verdana, "Times New Roman"; font-size: 12px; padding-top: 2px; padding-bottom: 2px; color: #3D5E8F;
	padding-left: 2px; font-weight: bold; }
.formlabelhighlight {
	font-family: Arial, Verdana, "Times New Roman"; font-size: 12px; padding-top: 4px; padding-bottom: 2px; color: #333333;
	border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #E9E9E9; padding-left: 4px; vertical-align: top;
	font-weight: bold; }
input {
	font-family: Arial, Verdana, "Times New Roman"; font-size: 12px; }
textarea {
	font-family: Arial, Verdana, "Times New Roman"; font-size: 12px; }
select {
	font-family: Arial, Verdana, "Times New Roman"; font-size: 12px; }
.button {
	background-image: url(../images/bgbtn.jpg); background-repeat: repeat-x; background-position: left top; height: 20px;
	border: 1px solid #999999; font-family: Arial, Verdana, "Times New Roman"; font-size: 11px; font-weight: bolder; 
	color: #333333; margin-right: 2px; margin-left: 2px; margin-top: 6px; padding: 1px; }
.rightpanel {
	background-image: url(../images/bgrtpanel.jpg); background-repeat: repeat-x; background-position: left top; width: 240px; 
	margin-top: 1px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; font-family: Arial, Verdana, "Times New Roman";
	font-size: 12px; background-color: #F6F5F3; }
.rightpanel TR.divider {
	background-image: url(../images/bgdot.gif); background-repeat: repeat-x; background-position: left top; }
.title {
	font-family: Arial, Verdana, "Times New Roman"; font-size: 12px; font-weight: bolder; color: #333333; }
.loginbox {
	background-image: url(../images/login_box.jpg); background-repeat: no-repeat; background-position: center top; width: 340px; }
#datagrid {
	font-family: Arial, Helvetica, sans-serif; border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; 
	border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; 
	border-top-color: #84734F; border-right-color: #84734F; border-left-color: #84734F; border-bottom-width: 1px; 
	border-bottom-color: #84734F; }
#datagrid TH {
	background-color: #FAE7D3; font-family: arial; font-size: 10px; font-weight: bold; color: #333333; text-align: left;
	height: 20px; padding-left: 0px; }
#datagrid TH a:link, #datagrid TH a:visited{
	font-family: arial; font-size: 10px; font-weight: bold; color: #333333; text-align: left; padding-left: 4px; }
#datagrid TH a:hover  {
	font-family: arial; font-size: 10px; font-weight: bold; color: #990000; }
#datagrid Tr {
	height: 25px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 8px; margin: 0px; }
#datagrid td { 
	text-align: left; background-color:#FFFFFF; height: 25px; padding-top: 4px; padding-right: 0px; padding-bottom: 4px;
	padding-left: 8px; margin: 0px; }
.userdetails{
	font-family: arial; font-size: 12px; font-weight: bold; color: #006699; }
.footer{
	width: 960px; background-color: #18849E; }
.footer li{
	font-family: Arial, Verdana, "Times New Roman"; font-size: 11px; font-weight: normal; color: #900; list-style-type: none;
	float: left; padding-right: 6px; padding-left: 6px; }
.footer ul{
	font-family: Arial, Verdana, "Times New Roman"; margin-left: 0px; text-align: center; padding: 0px; margin-top: 0px;
	margin-right: 0px; margin-bottom: 0px; }
.footer li a:link, .footer li a:visited{
	font-family: Arial, Verdana, "Times New Roman"; font-size: 11px; font-weight: normal; color: #ffffff; text-decoration: none;
	padding-left: 6px; padding-right: 17px; border-right-width: 1px; border-right-style: solid; border-right-color: #F6C46F; }
.footer li a:hover{
	font-family: Arial, Verdana, "Times New Roman"; font-size: 11px; font-weight: normal; color: #FFF; text-decoration: underline;
	padding-left: 6px; padding-right: 17px; }
.footer-message {
	font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color:#333; width:960px; float:left;
	background-image: url(../images/Nic-logo.jpg); background-repeat: no-repeat; background-position: right 12px; 
	vertical-align: text-top; padding-top: 3px; padding-right: 0px; padding-bottom: 6px; padding-left: 4px; background-color: #FFF; }
.formtitle {
	font-family: Arial, Verdana, "Times New Roman"; font-size: 11px; padding-top: 2px; padding-bottom: 2px; color: #333333;
	font-weight: bold; background-color:#D8E2ED; padding-left: 4px; vertical-align: top; }
.row1 {
	background-color: #F8FAFC; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #efefe0; }
.row2 {
	background-color: #FFFFFF; }
.textmaroon {
	font-family: arial; font-size: 12px; color: #990000; padding-left: 10px; border-bottom-width: 1px; border-bottom-style: solid;
	border-bottom-color: #EFEFEF; padding-left: 4px; }
.textbold{
	font-family: arial;
	font-size: 12px;
	color: #333333;
	padding-left: 4px;
	font-weight: bold;
}

.textindent{
	font-family: arial;
	font-size: 12px;
	color: #333333;
	padding-left: 30px;
	color: #333333;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EFEFEF;
	
}

.hide{
	DISPLAY: none; VISIBILITY: hidden; }
	
.maroonlink{
	font-family: arial;
	font-size: 11px;
	font-weight: normal;
	color: #990000;
	text-decoration: underline;
}
.maroonlink:hover{
	font-family: arial;
	font-size: 11px;
	font-weight: normal;
	color: #990000;
	text-decoration: underline;
}
.maroonlink:visited{
	font-family: arial;
	font-size: 11px;
	font-weight: normal;
	color: #990000;
	text-decoration: underline;
}

/*------------ Footer content Slider Div css --------------------------*/

#footer{margin:0 auto; margin-top:10px; width:100%; height:100px; background:url(../images/footer_bg.jpg) repeat-x; clear:both; }
#footer-container{margin:0 auto; padding: 0; width:972px; height:142px;  } 

#footer_link{ background-color: #18849E; position:relative; height:auto;  font:normal 14px Arial, Helvetica, sans-serif; color:#727976;   margin:0px; text-align:center; padding: 3px 0px 3px 0px;}
#footer_link p{ position:relative; font:normal 12px Arial, Helvetica, sans-serif; color:#4c5252; padding:5px 0px 0px 0px;}
#footer_link p a{font:normal 12px Arial, Helvetica, sans-serif; color:#0069d5; text-align:center;}
#footer_link p span{ font-weight:bold;}
#footer_link p a:hover{font:normal 12px Arial, Helvetica, sans-serif; color:#4c5252; text-decoration:none;}

#footer_link ul{list-style:none; display:inline; margin:0 auto; }
#footer_link li{display:inline;  height:13px; text-align:center;}
#footer_link li a{font:bold 12px Arial, Helvetica, sans-serif; color:#fff;  padding:12px 10px 0px 10px; text-decoration:none;}
#footer_link li a:hover{/* text-decoration:underline; */ color:#000;}
#footer-img{ margin:0 auto; padding:0px; text-align:center; width:100%;  }
#footer-img img{ width:111px; margin:7px 0 0 0; padding:0px; text-align:center;}

/* ------------------------------- Heading menu ----------------- */
.menuHead {
	font-family: Arial, Verdana, "Times New Roman";
	font-weight:bold;
	font-size: 14px;
	padding-top: 4px;
	padding-bottom: 2px;
	color: #fff;
	/* border-bottom-width: 1px;
	border-bottom-style: solid; */
	border-bottom-color: #E9E9E9;
	padding-left: 4px;
	vertical-align: top;
}

/*----------- table layout----------------*/
table.bigTable{font-family: "Trebuchet MS", sans-serif;font-size: 12px;font-weight: bold;line-height: 1.4em;font-style: normal;width:900px;}
table.bigTable th{padding:5px;color:#fff;text-shadow:1px 1px 1px #568F23;border:1px solid #666666;border-bottom:3px solid #666666;background-color:#18849e;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(24,132,158)),
        color-stop(0.51, rgb(24,132,158)),
        color-stop(0.87, rgb(24,132,158))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(24,132,158) 2%,
        rgb(24,132,158) 51%,
        rgb(24,132,158) 87%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

table.bigTable th a{color: #fff;text-decoration: none;}
table.bigTable tr.odd{color: #B0171F;font-size: 11px;text-align: left;}
table.bigTable td{padding:3px;text-align: left;background-color:#E0E0E0;border: 2px solid #E0E0E0;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;
    color:#000000;text-shadow:1px 1px 1px #fff;}

/*----------------- new css styles ------------------*/
/*----------- table layout----------------*/
table.bigTableEntry{font-family: "Trebuchet MS", sans-serif;font-size: 12px;font-weight: bold;line-height: 1.4em;font-style: normal;width:900px;}
table.bigTableEntry th{padding:5px;color:#fff;text-shadow:1px 1px 1px #568F23;border:1px solid #666666;border-bottom:3px solid #666666;background-color:#18849e;}
table.bigTableEntry th a{color: #fff;text-decoration: none;}
table.bigTableEntry tr.odd{color: #B0171F;font-size: 11px;text-align: left;}
table.bigTableEntry td{padding:3px;text-align: left;background-color:#E0E0E0;border: 2px solid #E0E0E0;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;
    color:#000000;text-shadow:1px 1px 1px #fff;}
/*----------------- new css styles ------------------*/

.pageHeader{margin: 5px 0 10px 0; padding: 10px 0 10px 0;font-family: Arial, Verdana, "Times New Roman"; font-size: 16px; font-weight: bolder; color: #96B566;}
.pageSubHeader{margin: 5px 0 10px 0;font-family: Arial, Verdana, "Times New Roman"; font-size: 14px; }
	
/*------New Table for Entry Form----*/
table.demo {border-collapse:collapse;background:#EFF4FB  repeat-x;border:1px solid #686868;
		font:0.8em/145% 'Trebuchet MS',helvetica,arial,verdana;color: #333;}
table.demo td,table.demo th {padding:3px;}
table.demo caption {padding: 0 0 .5em 0;text-align: left;font-size: 1.4em;font-weight: bold;text-transform: uppercase;color: #333;background: transparent;}
table.demo a {color:#950000;text-decoration:none;}
table.demo a:link {}
table.demo a:visited {font-weight:normal;color:#666;text-decoration: line-through;}
table.demo a:hover {border-bottom: 1px dashed #bbb;}
table.demo thead th, table.demo tfoot th, table.demo tfoot td {background:#333 repeat-x;color:#fff}
table.demo tfoot td {text-align:left;}
table.demo tbody th, table.demo tbody td {text-align:left; border-bottom: dotted 1px #333;}
table.demo tbody th {white-space: nowrap;}
table.demo tbody th a {color:#333;}
table.demo .odd {}

/*------New Table for Entry Form demoColumn----*/
table.demoCol {border-collapse:collapse;background:#EFF4FB  repeat-x;border:1px solid #686868;
		font:0.8em/145% 'Trebuchet MS',helvetica,arial,verdana;color: #333;}
table.demoCol td,table.demoCol th {padding:3px;}
table.demoCol caption {padding: 0 0 .5em 0;text-align: left;font-size: 1.4em;font-weight: bold;text-transform: uppercase;color: #333;background: transparent;}
table.demoCol a {color:#950000;text-decoration:none;}
table.demoCol a:link {}
table.demoCol a:visited {font-weight:normal;color:#666;text-decoration: line-through;}
table.demoCol a:hover {border-bottom: 1px dashed #bbb;}
table.demoCol thead th, table.demoCol tfoot th, table.demoCol tfoot td {background:#333 repeat-x;color:#fff}
/* table.demoCol tfoot td {text-align:left;} */
table.demoCol tbody th, table.demoCol tbody td {text-align:left; border-right: dotted 1px #333; border-bottom: dotted 1px #333;}
table.demoCol tbody th {white-space: nowrap; background: #d6d6d6;}
table.demoCol tbody th a {color:#333;}
table.demoCol .odd {}


	